*.zip
*.jar
*.mod
*.o
*~
*.sw?
mx.trcview/*.pyc
mx.trcview/.project
mx.trcview/.pydevproject
mx.trcview/*.iml
mx.trcview/env
mx.trcview/eclipse-launches/**
.DS_Store
build.xml
workingsets.xml
hs_err_pid*.log
compilations-*.cfg
trcview/**
lib/**
mxbuild/**
mx.imports/**
.idea/**
build/**
graal/**
projects/.project
projects/*/nbproject/
projects/*/build.xml
projects/*/\.settings
projects/*/\.classpath
projects/*/\.project
projects/*/\bin
projects/*/\.checkstyle
projects/*/*.iml
projects/*/\.factorypath
/.metadata/
