*.zip
*.jar
*.mod
*.o
*~
*.sw?
mx.utils/*.pyc
mx.utils/.project
mx.utils/.pydevproject
mx.utils/*.iml
mx.utils/env
mx.utils/eclipse-launches/**
.DS_Store
build.xml
workingsets.xml
hs_err_pid*.log
compilations-*.cfg
utils/**
lib/**
mxbuild/**
mx.imports/**
.idea/**
build/**
graal/**
core/**
projects/.project
projects/*/nbproject/
projects/*/build.xml
projects/*/\.settings
projects/*/\.classpath
projects/*/\.project
projects/*/\bin
projects/*/\.checkstyle
projects/*/*.iml
projects/*/\.factorypath
/.metadata/
